.button-green {
   border-radius: 76px;
   background-color: #c6f806;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 24px;
   text-align: center;
   color: var(--black);
   width: min-content;
}
