.button-green {
   border-radius: 76px;
   background-color: #c6f806;
   font-family: var(--font3-1);
   font-weight: 400;
   font-size: 24px;
   text-align: center;
   color: var(--black);
   width: min-content;
   cursor: pointer;
   transition: all 0.4s;

   &:hover {
      background-color: #c8f806b3;
   }
}
