.header {
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: clamp(1.25rem, 1.2vw, 1.5rem);
      text-align: center;
      height: var(--header-height);
      margin-bottom: 30px;
      nav {
         display: flex;
         gap: 40px;
      }
   }

   &__mail {
      color: var(--white);
   }

   &__phone {
      color: var(--violet);
   }
   @media (max-width: 1520px) {
      &__wrapper {
         padding: 0;
      }
   }
   @media (max-width: 700px) {
      &__mail {
         display: none;
      }
   }
   @media (max-width: 450px) {
      // &__wrapper {
      //    align-items: self-start;
      // }
      &__logo {
         max-width: 85px;
      }
   }
}
