.window-message {
   position: fixed;
   bottom: 0;
   right: 0;
   z-index: 50;
   padding: 10px;
}
.error-message {
   position: relative;
   z-index: 50;
   padding: 7px;
   margin-bottom: 10px;
   border-radius: 10px;
   background-color: rgba(255, 0, 0, 0.703);
   animation: slideDown 0.3s ease-out;
}

.sucsses-message {
   position: relative;
   z-index: 50;
   padding: 7px;
   margin-bottom: 10px;
   border-radius: 10px;
   background-color: rgba(60, 255, 0, 0.703);
   animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
   from {
      top: 50px;
      opacity: 0;
   }
   to {
      top: 0;
      opacity: 1;
   }
}

@media (max-width: 400px) {
   .window-message {
      padding: 0;
   }
   .error-message {
      padding: 0 10px 0 10px;
      margin-bottom: 5px;
      font-size: 15px;
      background-color: inherit;
      color: rgba(255, 0, 0, 0.703);
   }

   .sucsses-message {
      padding: 0 10px 0 10px;
      margin-bottom: 5px;
      font-size: 15px;
      background-color: inherit;
      color: rgba(60, 255, 0, 0.703);
   }
}
