<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!--шрифты-->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxygen+Mono&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
         rel="stylesheet"
      />
      <!--стили слайдера-->
      <link
         rel="stylesheet"
         href="https://unpkg.com/swiper@11/swiper-bundle.min.css"
      />
      <link rel="stylesheet" href="css/style.css" />
      <title>fabula</title>
   </head>
   <body>
      <!-- pretier ignore-->
      @@include('components/_header.html')
      <!-- pretier ignore-->
      @@include('sections/_hero.html')
      <!-- pretier ignore-->
      @@include('sections/_ribbons.html')
      <!-- pretier ignore-->
      @@include('sections/_we-know.html')
      <!-- pretier ignore-->
      @@include('sections/_now-imagine.html')
      <!-- pretier ignore-->
      @@include('sections/_solution.html')
      <!-- pretier ignore-->
      @@include('sections/_you-need.html')
      <!-- pretier ignore-->
      @@include('sections/_slider-customers.html')
      <!-- pretier ignore-->
      @@include('sections/_offer.html')
      <!-- pretier ignore-->
      @@include('sections/_we-fabula.html')
      <!-- pretier ignore-->
      @@include('sections/_achieving-goal.html')
      <!-- pretier ignore-->
      @@include('sections/_projects.html')
      <!-- pretier ignore-->
      @@include('sections/_result.html')
      <!-- pretier ignore-->
      @@include('sections/_give-floor.html')
      <!-- pretier ignore-->
      @@include('sections/_while-thinking.html')
      <!-- pretier ignore-->
      @@include('components/_footer.html')
      <!-- слайдер-->
      <script src="https://unpkg.com/swiper@11/swiper-bundle.min.js"></script>
      <!-- lottie -->
      <script
         src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
         type="module"
      ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.3/lottie.min.js"></script>
      <script src="js/main.js"></script>
   </body>
</html>
