.faq {
   background: linear-gradient(180deg, #fbf5ff 0%, #fbf5ff 100%);
   padding-top: 135px;
   margin-bottom: 190px;
   &__wrapper {
   }

   &__title {
      max-width: 700px;
      font-family: var(--font3-2);
      font-weight: 600;
      font-size: 64px;
      line-height: 110%;
      text-align: center;
      color: var(--black-text);
      margin: 0 auto;
      margin-bottom: 72px;
   }

   &__list {
   }
}
.faq-item {
   border-top: 1px solid #000;

   &:last-child {
      border-bottom: 1px solid #000;
   }
   &__trigger {
      padding: 30px 0 30px 30px;
   }
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 32px;
      line-height: 150%;
      color: var(--black);
      margin-bottom: 8px;
   }

   &__arrow {
      transform: rotate(180deg);
      transition: all 0.4s;
   }

   &__text {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 16px;
      color: #768396;
      max-width: 1000px;
      line-height: 120%;

      transform: translate(0, -200%);
      height: 0;
      position: relative;
      z-index: -1;
      opacity: 0;
      transition: all 0.4s;
   }
}

.faq-item.active .faq-item__text {
   transform: translate(0, 0);
   height: auto;
   position: relative;
   z-index: 1;
   opacity: 1;
}

.faq-item.active .faq-item__arrow {
   transform: rotate(0);
}
