.hero {
   min-height: calc(100vh - var(--header-height));
   position: relative;
   &::after {
      content: '';
      position: absolute;
      top: -4%;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100vh;
      background-image: url('../assets/img/mask-new.png');
      background-position: center;
      background-size: cover;
      overflow: hidden;
   }
   &__bg {
      position: absolute;
      width: 100vw;
      height: 100%;
      z-index: -1;
      top: calc(0px - var(--header-height) - 30px);
      left: 0;
   }
   &__bg-fiels {
      position: relative;
      // background-color: red;
      width: 100%;
      height: 100%;
      overflow: hidden;
   }
   &__bg-decor {
      position: absolute;
   }

   &__bg-crcl {
      // background-color: #c6f806;
   }

   &__bg-crcl--1 {
      top: 27%;
      left: 5%;
   }

   &__bg-crcl--2 {
      top: 56%;
      left: 6%;
   }

   &__bg-crcl--3 {
      top: 6%;
      left: 53%;
   }

   &__bg-crcl--4 {
      top: 11%;
      right: 7%;
   }

   &__bg-crcl--5 {
      top: 54%;
      right: 4%;
   }
   &__bg-crcl--6 {
      top: 44%;
      right: 50%;
   }
   &__bg-crcl--7 {
      bottom: 30%;
      right: 50%;
   }
   &__bg-crcl--8 {
      top: 14%;
      left: 50%;
   }
   &__bg-crcl--9 {
      top: 24%;
      left: 50%;
   }
   &__bg-crcl--10 {
      bottom: 24%;
      left: 10%;
   }
   &__bg-crcl--11 {
      bottom: 24%;
      left: 20%;
   }
   &__bg-crcl--12 {
      bottom: 24%;
      left: 40%;
   }

   &__bg-stain {
      svg {
         width: 100%;
         height: 100%;
      }
   }

   &__bg-stain--1 {
      bottom: -50%;
      left: 0%;
   }

   &__bg-stain--2 {
      bottom: -50%;
      right: 0;
   }

   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__text-block {
      max-width: 60%;
      margin-top: -50px;
   }

   &__title {
      position: relative;
      font-family: var(--font3-1);
      font-weight: 400;
      font-size: clamp(2.5rem, 7vw, 8.5625rem);
      line-height: 96%;
      color: var(--white);
   }
   &__title--top-word {
      display: flex;
      align-items: center;
      gap: 15px;
   }

   &__title--circle {
      width: clamp(44px, 5vw, 104px);
      height: clamp(44px, 5vw, 104px);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__title--circle-img {
      width: clamp(30px, 3vw, 73px);
      height: clamp(30px, 3vw, 73px);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   &__title--circle-left {
      background-color: #c6f806;
   }

   &__title--circle-right {
      background-color: var(--white);
   }
   &__title--word-website {
      position: relative;
   }
   &__title--continued {
      position: absolute;
      bottom: -16%;
      right: -50%;
      padding: 10px 30px;
      font-size: clamp(1.125rem, 1.9vw, 2.25rem);
      line-height: 127%;
      border-radius: 138px;
      box-shadow: 0 -16px 24px 0 rgba(0, 0, 0, 0.24);
      background: linear-gradient(90deg, #8a31ef 0%, #4f1c89 100%);
      transform: rotate(-6deg);
      white-space: nowrap;
   }

   &__right-block {
      display: flex;
      flex-direction: column;
   }

   &__code {
      align-self: flex-end;
      margin-right: 63px;
      margin-top: 18px;
      position: relative;
      padding: 13px 17px 19px 23px;
      border: 1px solid var(--white);
      background-color: #20043f;
      max-width: 278px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 19px;
      line-height: 154%;
      color: var(--white);
      margin-bottom: 116px;
      span {
         font-size: 16px;
         color: #c6f806;
      }
   }
   &__code--square {
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: var(--white);
   }
   &__code--square-top-left {
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
   }
   &__code--square-top-right {
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
   }
   &__code--square-bottom-left {
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%);
   }
   &__code--square-bottom-right {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
   }
   &__cursor {
      position: absolute;
      bottom: -24px;
      right: 47px;
   }

   &__cursor-title {
      position: absolute;
      bottom: -29px;
      right: -108px;
      border: 1.65px solid var(--white);
      border-radius: 11px;
      background-color: var(--violet);
      padding: 4px 12px;
      font-family: var(--font4);
      font-weight: 400;
      font-size: 24px;
      color: var(--white);
   }

   &__video {
      border-radius: 262px;
      width: 532px;
      height: 342px;
      object-fit: cover;
      overflow: hidden;
   }

   &__btn-chat-bot {
      position: fixed;
      bottom: 2%;
      right: 2%;
      z-index: 30;
      min-width: 72px;
      height: 72px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white);
      opacity: 0.6;
      transition: all 0.4s;
      &:hover {
         opacity: 1;
      }
   }
   @media (max-height: 880px) {
      min-height: auto;

      &__video {
         width: 497px;
         height: 260px;
      }
      &__code {
         margin-bottom: 60px;
      }
      &__text-block {
      }
      &__title {
         font-size: clamp(2.5rem, 7vw, 6.5625rem);
      }
   }
   @media (max-width: 1520px) {
      &__bg {
         top: calc(0px - var(--header-height) - 130px);
      }
      &__text-block {
      }
      &__title--continued {
         bottom: -30%;
      }
   }
   @media (max-width: 1024px) {
      &__wrapper {
         flex-direction: column;
         align-items: center;
      }
      &__text-block {
         max-width: 90%;
         text-align: center;
         margin-bottom: 64px;
         margin-top: 0;
      }
      &__title--top-word {
         justify-content: center;
      }
      &__right-block {
         display: flex;
         align-items: center;
         flex-direction: column-reverse;
      }
      &__code {
         margin: 0;
         margin-bottom: 80px;
         align-self: auto;
      }
      &__video {
         width: clamp(315px, 27.7vw, 532px);
         height: clamp(203px, 17.8vw, 342px);
         margin-bottom: 40px;
      }
   }
   @media (max-width: 850px) {
      &__title--continued {
         bottom: -40%;
      }
   }
   @media (max-width: 650px) {
      &__btn-chat-bot {
         display: none;
      }
   }
   @media (max-width: 630px) {
      &__title--continued {
         bottom: -73%;
      }
   }
   @media (max-width: 540px) {
      min-height: auto;
   }
   @media (max-width: 510px) {
      &__text-block {
         max-width: 315px;
      }
      &__title--continued {
         // bottom: -72%;
         right: -66%;
      }
      &__cursor {
         img {
            width: 24px;
            height: 24px;
         }
         bottom: 4px;
         right: 110px;
      }
      &__cursor-title {
         font-size: 14px;
         padding: 3px 7px;
         bottom: -24px;
         right: -65px;
      }
      &__code {
         font-size: 16px;
         max-width: 100%;
         margin-bottom: 25px;
      }
   }
}
