.now-imagine {
   position: relative;
   width: 100%;
   // margin-bottom: 80px;
   // height: 230vh;
   // background-color: rgba(255, 0, 0, 0.323);
   // overflow: hidden;
   &__bg {
      // min-height: 250vh;
      // height: 100%;
      position: relative;
      width: 100%;
      // overflow-x: hidden;
      top: 0;
      left: 0;
      z-index: -1;
      // background-color: rgba(128, 122, 0, 0.319);
   }
   &__bg-clouds {
      // background-color: rgba(255, 0, 0, 0.395);
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      margin-bottom: 220px;
      // margin-bottom: 120px;
      // background-color: green;
   }
   &__bg-stars {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      min-width: 100%;
      min-height: 100vh;
   }
   &__bg-blob {
      // background-color: green;
      position: relative;
      z-index: -1;
      bottom: 0;
      left: 50%;
      // width: 34%;
      width: clamp(348px, 93%, 652px);
      transform: translate(-51%, 0);
   }
   &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: red;
   }
   &__body {
      text-align: center;
      max-width: 1260px;
      width: 80%;
   }
   &__title {
      margin-bottom: 16px;
   }

   &__text {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: clamp(1.25rem, 3.9063vw, 2.5rem);
      line-height: 130%;
      text-align: center;
      color: #8e8e8e89;
   }
   @media (max-width: 1400px) {
      &__bg-clouds {
         margin-bottom: 100px;
      }
   }
   @media (max-width: 700px) {
      &__bg-clouds {
         margin-bottom: 70px;
      }
   }
   @media (max-width: 450px) {
      &__bg-clouds {
         height: 70vh;
      }
      &__wrapper {
         height: 70vh;
      }

      &__bg-stars {
         min-height: auto;
         height: 70vh;
      }
   }
}

.now-imagine-clouds {
   position: absolute;
   &--img {
      img {
         width: 100%;
         height: auto;
         object-fit: cover;
      }
   }
   &__top-left {
      top: 0;
      top: 130px;
      left: 0;
      width: clamp(80px, 30vw, 766px);
      height: clamp(112px, 21vw, 406px);
   }
   &__top-right {
      top: 63px;
      right: 0;
      width: clamp(136px, 32.2396vw, 619px);
      height: clamp(94px, 19.8438vw, 381px);
   }
   &__bottom-left {
      bottom: 65px;
      left: 0;
      width: clamp(130px, 29.0104vw, 557px);
      height: clamp(116px, 20.2083vw, 388px);
   }
   &__bottom-right {
      bottom: 0;
      right: 0;
      width: clamp(169px, 30.2604vw, 581px);
      height: clamp(132px, 19.3229vw, 371px);
   }
   &__top-center {
      top: 136px;
      right: 42.6%;
      width: clamp(78px, 8.4896vw, 163px);
      height: clamp(43px, 4.7396vw, 91px);
   }
   &__bottom-center {
      bottom: 160px;
      right: 54.6%;
      width: clamp(70px, 10.5208vw, 202px);
      height: clamp(41px, 6.1458vw, 118px);
      transform: scaleX(-1);
   }
   &__top-left--big {
      position: absolute;
      bottom: 0;
      left: 0;
      width: clamp(169px, 117%, 645px);
      height: clamp(124px, 102%, 378px);
      transform: translate(clamp(-172px, -11.6211vw, -114px), 26px);
   }
   &__top-left--small {
      position: absolute;
      top: 0;
      right: 0;
      width: clamp(112px, 71%, 422px);
      height: 62%;
   }
   &__top-right--md {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(clamp(100px, 18vw, 353px), clamp(30px, 5vw, 103px));
      width: clamp(199px, 133%, 813px);
   }
   &__top-right--revers {
      position: absolute;
      top: 1.1979vw;
      left: 0;
      width: clamp(122px, 80%, 488px);
      transform: scaleX(-1);
   }
   &__bottom-left--big {
      position: absolute;
      top: 0;
      left: 0;
      width: clamp(202px, 125%, 694px);
      transform: translate(
         clamp(-266px, -13.8542vw, -117px),
         clamp(-21px, -1.0938vw, -5px)
      );
   }
   &__bottom-left--small {
      position: absolute;
      bottom: 0;
      right: 0;
      width: clamp(93px, 55%, 314px);
      transform: translateY(9px);
   }
   &__bottom-right--big {
      position: absolute;
      top: 0;
      right: 0;
      width: clamp(246px, 120%, 693px);
      transform: translate(clamp(127px, 13.0208vw, 250px), -11px);
   }
   &__bottom-right--small {
      position: absolute;
      top: 1.9792vw;
      left: 0;
      width: clamp(112px, 53%, 314px);
   }
   @media (max-width: 376px) {
      &__top-left {
         top: 154px;
      }
      &__top-right {
      }
      &__bottom-left {
         bottom: 13px;
      }
      &__bottom-right {
      }
      &__top-center {
         top: 68px;
         right: 48.6%;
      }
      &__bottom-center {
         bottom: 84px;
         right: 53.6%;
      }
   }
}
.nom-imagine-star {
   position: absolute;
   width: clamp(20px, 4.0625vw, 78px);
   img {
   }
   &__1 {
      top: 4vw;
      left: 34vw;
   }

   &__2 {
      top: 10vw;
      left: 41vw;
   }

   &__3 {
      top: 12vw;
      right: 34vw;
   }

   &__4 {
      top: 23vw;
      right: 9vw;
   }

   &__5 {
      bottom: 15vw;
      right: 17vw;
   }

   &__6 {
      bottom: 13vw;
      right: 38vw;
   }

   &__7 {
      bottom: 14vw;
      left: 36vw;
   }

   &__8 {
      bottom: 11vw;
      left: 22vw;
   }

   &__9 {
      bottom: 5vw;
      left: 47vw;
   }

   &__10 {
      bottom: 2vw;
      right: 26vw;
   }
   @media (max-width: 1024px) {
      &__1 {
         top: 38vw;
         left: 9vw;
         // background-color: yellow;
      }
      &__4 {
         top: auto;
         bottom: 2vh;
         right: 49vw;
         // background-color: yellow;
      }
      &__5 {
         bottom: 74vw;
         right: 5vw;
         // background-color: yellow;
      }
      &__6 {
         bottom: 24vh;
         right: 11vw;
         // background-color: yellow;
      }
      &__7 {
         bottom: 9vh;
         left: 36vw;
      }
      &__8 {
         bottom: 37vh;
         left: 3vw;
         // background-color: yellow;
      }
      &__9 {
         bottom: 21vh;
         left: 23vw;
         // background-color: yellow;
      }
   }
}

.nom-imagine-moon {
   position: absolute;
   width: clamp(81px, 8.6458vw, 166px);
   top: 0;
   left: clamp(76px, 45.1042vw, 866px);
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   @media (max-width: 376px) {
      left: clamp(76px, 19.1042vw, 866px);
   }
}
.now-imagine-blob {
   &__rope {
      position: absolute;
      z-index: -1;
      top: 13px;
      left: 53%;
      overflow: hidden;
      transform: translate(-50%, -100%);
      width: 80vw;
      height: clamp(192px, 28vw, 480px);
      background-image: url('../assets/img/rope.svg');
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      // background-color: red;
   }
   &__circle {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: 197%;
      border-radius: 50%;
      border: 1px solid rgb(255, 255, 255);
      display: none;
   }
   // @media (max-width: 1024px) {
   //    &__rope {
   //       height: clamp(192px, 43vw, 315px);
   //    }
   // }
   @media (max-width: 700px) {
      &__rope {
         // position: absolute;
         // z-index: -1;
         // top: 13px;
         // left: 53%;
         // overflow: hidden;
         // transform: translate(-50%, -100%);
         // width: 80vw;
         // height: clamp(192px, 28vw, 480px);
         background-image: url('../assets/img/rope-mobil.svg');
         // background-position: center bottom;
         // background-repeat: no-repeat;
         // background-size: contain;
      }
   }
}
