.projects {
   position: relative;
   padding-top: 300px;
   margin-bottom: 340px;
   &__wrapper {
      height: 100vh;
      background-image: url('../assets/img/mask-new.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
   }

   &__title {
      position: relative;
      z-index: 1;
      isolation: isolate;
      top: 50%;
      transform: translateY(-50%);
      backdrop-filter: blur(60.599998474121094px);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      max-width: 700px;
      margin: 0 auto;
      padding: 30px 27px;
      font-family: var(--font3-2);
      font-weight: 600;
      font-size: 64px;
      line-height: 110%;
      text-align: center;
      color: var(--white);
      span {
         background: linear-gradient(
            102deg,
            #9643f5 0%,
            #b16ffc 45.52%,
            #7c2dd6 100%
         );
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
      margin-bottom: 114px;
   }

   &__items {
      display: flex;
      flex-direction: column;
   }
   @media (max-width: 1024px) {
      padding-top: 500px;
      margin-bottom: 150px;
   }
   @media (max-width: 800px) {
      padding-top: 400px;
      margin-bottom: 100px;
      &__title {
         font-size: clamp(1.875rem, 7.3333vw, 4rem);
         background: none;
         padding: 0;
         width: 100%;
         margin-bottom: 40px;
      }
   }
   @media (max-width: 500px) {
      padding-top: 300px;
   }
   @media (max-width: 480px) {
      &__wrapper {
         overflow: visible;
         height: auto;
         background-image: none;
      }
      &__title {
         position: static;
         transform: translateY(0);
      }
   }
}

.projects-item {
   position: absolute;
   top: 0;
   transform: translateY(100vh);
   max-width: 616px;
   height: 390px;
   width: 100%;
   margin-bottom: 40px;
   display: flex;
   flex-direction: column;
   z-index: 0;
   &:nth-child(odd) {
      align-self: flex-end;
      z-index: 1;
   }
   &__img {
      border-radius: 20px;
      overflow: hidden;
      height: 100%;
      width: 100%;
      margin-bottom: 16px;
      img {
         min-width: 100%;
         min-height: 100%;
         object-fit: cover;
         // transform: scale(1.1);
      }
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__info {
   }

   &__title {
      font-family: var(--font3-2);
      font-weight: 600;
      font-size: 32px;
      line-height: 127%;
      color: var(--white);
      margin-bottom: 3px;
   }

   &__subtitle {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 127%;
      color: var(--white);
   }

   &__tag {
      font-family: var(--font3-1);
      font-weight: 400;
      font-size: 16px;
      line-height: 127%;
      white-space: nowrap;
      color: var(--violet);
      border: 1px solid var(--violet);
      padding: 10px 15px;
   }
   &__tag--white {
      color: var(--pink);
      border: 1px solid var(--pink);
   }
   &__tag--yellow {
      color: #c6f806;
      border: 1px solid #c6f806;
   }

   @media (max-width: 800px) {
      &__title {
         font-size: clamp(1.25rem, 3.6667vw, 2rem);
      }
   }
   @media (max-width: 650px) {
      &__img {
         height: 100%;
         max-height: 160px;
      }
   }
   @media (max-width: 480px) {
      position: static;
      transform: translateY(0);
      margin-bottom: 40px;
      height: auto;
   }
   // @media (max-width: 400px) {
   //    &__subtitle {
   //       margin-bottom: 16px;
   //    }
   //    &__footer {
   //       flex-direction: column;
   //       align-items: flex-start;
   //    }
   // }
}

.projects-bg {
   position: absolute;
   width: 100%;
   height: 100%;
   // background-color: #c8f8062c;
   bottom: 0;
   left: 0;
   // overflow: hidden;
   z-index: -1;
   &__el {
      max-width: max-content;
      position: absolute;
   }
   &__blur--big-1 {
      bottom: 14%;
      left: 0;
      // display: none;
   }
   &__blur--big-2 {
      bottom: 3%;
      right: 0;
      // display: none;
   }
   &__blur--small-1 {
      bottom: 21%;
      left: 5%;
   }
   &__blur--small-2 {
      bottom: 29%;
      left: 7%;
   }
   &__blur--small-3 {
      bottom: 14%;
      right: 43%;
   }
   &__blur--small-4 {
      bottom: 16%;
      right: 6%;
   }
   &__blur--small-5 {
      bottom: 23%;
      right: 4%;
   }
   @media (max-width: 800px) {
      display: none;
   }
}
