.ribbons {
   position: relative;
   z-index: -1;
   min-height: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   // margin-top: -15px;
   margin-top: -65px;
   margin-bottom: 60px;
   &__element {
      padding: 30px 0;
      width: 106vw;
      display: flex;
      justify-content: center;
   }

   &__element--bg-color {
      background: var(--violet);
      transform: rotate(-4deg) translateY(50%);
   }
   &__element--bg-blur {
      backdrop-filter: blur(39.29999923706055px);
      box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.11);
      background: rgba(251, 245, 255, 0.2);
      transform: rotate(4deg) translateY(-50%);
   }
   &__list {
      display: flex;
      white-space: nowrap;
      // overflow: hidden;
      // position: relative;
      // background-color: red;
      // animation: ribbon-list 5s linear infinite;
   }
   &__list-item {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: clamp(0.8125rem, 1.3021vw, 1.5625rem);
      color: var(--white);
      display: flex;
      align-items: center;
      animation: ribbon-list 50s linear infinite;
      span {
         display: block;
         width: 10px;
         height: 10px;
         background-color: rgb(255, 255, 255);
         border-radius: 50%;
         margin: 0 20px;
      }
   }
   @media (max-width: 1024px) {
      &__element {
         padding: 10px 0;
      }
   }
}

@keyframes ribbon-list {
   0% {
      transform: translateX(-100%);
   }
   100% {
      transform: translateX(+100%);
   }
}

.ribbons__list-item.revers {
   animation: ribbon-list-revers 50s linear infinite;
}

@keyframes ribbon-list-revers {
   0% {
      transform: translateX(+100%);
   }
   100% {
      transform: translateX(-100%);
   }
}
