.solution {
   // margin-bottom: 215px;
   // display: none;
   // min-height: 100vh;
   margin-bottom: -250px;
   &__wrapper {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__body {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      margin-bottom: 16px;
   }

   &__text {
      max-width: 1230px;
      font-family: var(--second-family);
      font-weight: 600;
      font-size: clamp(1.25rem, 3.9063vw, 2.5rem);
      line-height: 130%;
      text-align: center;
      color: #8e8e8e89;
   }
   @media (max-width: 580px) {
      margin-bottom: -120px;
   }
}
