.we-know {
   margin-top: -189px;
   background-image: url('../assets/img/Mask\ group.svg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
   border-radius: 100%;
   position: relative;
   margin-bottom: 180px;
   &__wrapper {
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__img {
      position: relative;
      max-width: 358px;
      mix-blend-mode: color-dodge;
      &::after {
         content: '';
         position: absolute;
         top: 17px;
         left: 20px;
         width: 34px;
         height: 82px;
         background-image: url('../assets/img/lighthing.svg');
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         transform: rotate(-35deg);
      }
      &::before {
         content: '';
         position: absolute;
         top: 17px;
         right: 25px;
         width: 34px;
         height: 82px;

         background-image: url('../assets/img/lighthing.svg');
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         transform: rotate(35deg);
      }
   }

   &__title {
      position: absolute;
      top: 32%;
      left: -49%;
      font-family: var(--font3-1);
      font-weight: 400;
      font-size: 64px;
      line-height: 127%;
      text-align: center;
      p {
         margin-bottom: -18px;
         color: var(--white);
      }
      span {
         display: inline-block;
         color: transparent;
         font-family: var(--font3-3);
         font-weight: 600;
         font-size: 64px;
         line-height: 127%;
         text-align: center;
         background: linear-gradient(
            90deg,
            #de31ef 0%,
            #d0b4f0 69%,
            #de31ef 100%
         );
         background-clip: text;
         background-size: 100%;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         mix-blend-mode: color-dodge;
         white-space: nowrap;
      }
   }

   &__list-item {
      font-family: var(--font-family);
      font-weight: 400;
      color: var(--white);
      position: absolute;
      &:nth-child(1) {
         font-size: clamp(0.9375rem, 3.0273vw, 1.9375rem);
         top: 10%;
         right: 33%;
      }
      &:nth-child(2) {
         font-size: clamp(1.0625rem, 3.2227vw, 2.0625rem);
         // filter: blur(13.800000190734863px);
         // opacity: 0.5;
         top: 18%;
         right: 23%;
      }
      &:nth-child(3) {
         font-size: clamp(0.5625rem, 1.7578vw, 1.125rem);
         top: 27%;
         right: 18%;
      }
      &:nth-child(4) {
         font-size: clamp(0.875rem, 2.6367vw, 1.6875rem);
         top: 42%;
         right: 11%;
      }
      &:nth-child(5) {
         font-size: clamp(0.75rem, 2.3438vw, 1.5rem);
         // filter: blur(5.800000190734863px);
         // opacity: 0.5;
         top: 56%;
         right: 11%;
      }
      &:nth-child(6) {
         font-size: clamp(1.25rem, 3.9063vw, 2.5rem);
         top: 75%;
         right: 15%;
      }
      &:nth-child(7) {
         font-size: clamp(0.9375rem, 3.0273vw, 1.9375rem);
         // filter: blur(13.300000190734863px);
         // opacity: 0.5;
         bottom: 8%;
         right: 13%;
      }
      &:nth-child(8) {
         font-size: clamp(0.75rem, 2.3438vw, 1.5rem);
         bottom: 5%;
         right: 35%;
      }
      &:nth-child(9) {
         font-size: clamp(0.875rem, 2.7344vw, 1.75rem);
         bottom: 2%;
         left: 33%;
      }
      &:nth-child(10) {
         font-size: clamp(0.75rem, 2.3438vw, 1.5rem);
         // filter: blur(8px);
         // opacity: 0.5;
         bottom: 11%;
         left: 21%;
      }
      &:nth-child(11) {
         font-size: clamp(0.75rem, 2.3438vw, 1.5rem);
         bottom: 21%;
         left: 11%;
      }
      &:nth-child(12) {
         font-size: clamp(0.875rem, 2.6367vw, 1.6875rem);
         // filter: blur(8px);
         // opacity: 0.5;
         bottom: 41%;
         left: 13%;
      }
      &:nth-child(13) {
         font-size: clamp(0.75rem, 2.3438vw, 1.5rem);
         top: 38%;
         left: 11%;
      }
      &:nth-child(14) {
         font-size: clamp(0.9375rem, 3.2227vw, 2.0625rem);
         top: 15%;
         left: 20%;
      }
   }
   @media (max-width: 1400px) {
      &__list-item {
         white-space: wrap;
         &:nth-child(3) {
            max-width: 260px;
            right: 10%;
         }
         &:nth-child(4) {
            right: 4%;
         }
         &:nth-child(11) {
            max-width: 260px;
         }
         &:nth-child(12) {
            bottom: 33%;
            left: 5%;
         }
         &:nth-child(13) {
            max-width: 260px;
         }
      }
   }
   @media (max-width: 1024px) {
      &__img {
         img {
            max-width: 250px;
         }
         &::after {
            top: -25px;
            left: 6px;
            width: clamp(24px, 3.3203vw, 34px);
            height: clamp(61px, 8.0078vw, 82px);
         }
         &::before {
            top: -21px;
            right: 10px;
            width: clamp(24px, 3.3203vw, 34px);
            height: clamp(61px, 8.0078vw, 82px);
         }
      }
      &__title {
         left: -54%;
         font-size: 48px;
         span {
            font-size: 48px;
         }
      }
      &__list-item {
         &:nth-child(3) {
            right: 0;
         }
         &:nth-child(4) {
            right: 0;
         }
         &:nth-child(5) {
            top: 65%;
         }
         &:nth-child(13) {
            left: 3%;
         }
      }
   }
   @media (max-width: 750px) {
      margin-top: -390px;
      margin-bottom: -180px;
      &__img {
         img {
            max-width: 180px;
         }
         &::after {
            top: -12px;
            left: 0px;
         }
         &::before {
            top: -6px;
            right: 6px;
         }
      }
      &__title {
         font-size: 30px;
         left: -25%;
         top: 28%;
         width: 268px;
         text-align: center;
         p {
            margin-bottom: 0;
         }
         span {
            font-size: 30px;
            white-space: wrap;
         }
      }
      &__list-item {
         max-width: 180px;
         &:nth-child(1) {
            top: 25%;
         }
         &:nth-child(2) {
            top: 32%;
         }
         &:nth-child(3) {
         }
         &:nth-child(4) {
            max-width: 110px;
         }
         &:nth-child(5) {
         }
         &:nth-child(6) {
            top: 59%;
            right: 0%;
         }
         &:nth-child(7) {
            bottom: 37%;
            right: 54%;
         }
         &:nth-child(8) {
            bottom: 43%;
            right: 0%;
         }
         &:nth-child(9) {
            bottom: 41%;
            left: 0%;
         }
         &:nth-child(10) {
            bottom: 52%;
            left: 0%;
            max-width: 110px;
            line-height: 150%;
         }
         &:nth-child(11) {
            bottom: 30%;
         }
         &:nth-child(12) {
         }
         &:nth-child(13) {
            top: 29%;
         }
         &:nth-child(14) {
            top: 32%;
            left: 68%;
         }
      }
   }
}
