<section class="faq">
   <div class="container">
      <div class="faq__wrapper">
         <h3 class="faq__title">Let's try to anticipate your questions.</h3>
         <div class="faq__list">
            <div class="faq-item">
               <div class="faq-item__trigger">
                  <div class="faq-item__header">
                     <p class="faq-item__title">
                        Will I have full ownership of my website after it is
                        developed?
                     </p>
                     <div class="faq-item__arrow">
                        <svg
                           width="32"
                           height="18"
                           viewBox="0 0 32 18"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 16.5L16 1.5L31 16.5"
                              stroke="#8A31EF"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </div>

                  <div class="faq-item__text">
                     Yes, once development is complete and all services have
                     been paid for, you will have full ownership and control
                     over your website, including the source code, domain, and
                     hosting.
                  </div>
               </div>
            </div>
            <div class="faq-item">
               <div class="faq-item__trigger">
                  <div class="faq-item__header">
                     <p class="faq-item__title">
                        How does your development process address my specific
                        business needs?
                     </p>
                     <div class="faq-item__arrow">
                        <svg
                           width="32"
                           height="18"
                           viewBox="0 0 32 18"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 16.5L16 1.5L31 16.5"
                              stroke="#8A31EF"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </div>

                  <div class="faq-item__text">
                     We start with a deep analysis of your business, competitive
                     environment, and target audience. This helps us create
                     solutions that are not only aesthetically pleasing, but
                     also functional and effective in achieving your business
                     goals.
                  </div>
               </div>
            </div>
            <div class="faq-item">
               <div class="faq-item__trigger">
                  <div class="faq-item__header">
                     <p class="faq-item__title">
                        What guarantees do you provide for your services?
                     </p>
                     <div class="faq-item__arrow">
                        <svg
                           width="32"
                           height="18"
                           viewBox="0 0 32 18"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 16.5L16 1.5L31 16.5"
                              stroke="#8A31EF"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </div>

                  <div class="faq-item__text">
                     We provide a guarantee for fixing errors and bugs found
                     within a certain period after the site launch. We also
                     offer additional guarantees and support packages so that
                     you feel confident about your site.
                  </div>
               </div>
            </div>
            <div class="faq-item">
               <div class="faq-item__trigger">
                  <div class="faq-item__header">
                     <p class="faq-item__title">
                        Will my website be optimized for search engines (SEO)?
                     </p>
                     <div class="faq-item__arrow">
                        <svg
                           width="32"
                           height="18"
                           viewBox="0 0 32 18"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 16.5L16 1.5L31 16.5"
                              stroke="#8A31EF"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </div>

                  <div class="faq-item__text">
                     Yes, we implement SEO best practices when developing your
                     website to ensure its visibility in search engines. We also
                     offer additional SEO optimization and promotion services to
                     improve your website's position in search results.
                  </div>
               </div>
            </div>
            <div class="faq-item">
               <div class="faq-item__trigger">
                  <div class="faq-item__header">
                     <p class="faq-item__title">
                        What if my needs change during development?
                     </p>
                     <div class="faq-item__arrow">
                        <svg
                           width="32"
                           height="18"
                           viewBox="0 0 32 18"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 16.5L16 1.5L31 16.5"
                              stroke="#8A31EF"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </div>

                  <div class="faq-item__text">
                     We understand that needs may change, and we are flexible in
                     our approach to development. You can discuss changes with
                     us at any time, and we will try to incorporate them into
                     the project by providing an updated schedule and cost
                     estimate.
                  </div>
               </div>
            </div>
            <div class="faq-item">
               <div class="faq-item__trigger">
                  <div class="faq-item__header">
                     <p class="faq-item__title">
                        What technologies do you use to develop websites?
                     </p>
                     <div class="faq-item__arrow">
                        <svg
                           width="32"
                           height="18"
                           viewBox="0 0 32 18"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 16.5L16 1.5L31 16.5"
                              stroke="#8A31EF"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </div>

                  <div class="faq-item__text">
                     We use modern and proven technologies to develop websites,
                     including HTML5, CSS3, JavaScript, React, Angular, PHP, and
                     WordPress. The choice of technologies depends on the
                     specifics of your project and your preferences.
                  </div>
               </div>
            </div>
            <div class="faq-item">
               <div class="faq-item__trigger">
                  <div class="faq-item__header">
                     <p class="faq-item__title">
                        How ​​can I track the progress of my website
                        development?
                     </p>
                     <div class="faq-item__arrow">
                        <svg
                           width="32"
                           height="18"
                           viewBox="0 0 32 18"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 16.5L16 1.5L31 16.5"
                              stroke="#8A31EF"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </div>

                  <div class="faq-item__text">
                     We provide transparency in the development process by
                     providing regular progress reports and access to demo
                     versions of your site. You will be able to see how the work
                     is progressing and make your comments and edits at any
                     stage.
                  </div>
               </div>
            </div>
            <div class="faq-item">
               <div class="faq-item__trigger">
                  <div class="faq-item__header">
                     <p class="faq-item__title">
                        What happens if I am not satisfied with the result?
                     </p>
                     <div class="faq-item__arrow">
                        <svg
                           width="32"
                           height="18"
                           viewBox="0 0 32 18"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 16.5L16 1.5L31 16.5"
                              stroke="#8A31EF"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </div>

                  <div class="faq-item__text">
                     Your satisfaction is our top priority. We work closely with
                     you at every stage of development to ensure that the final
                     product meets your expectations. If you are not satisfied
                     with something, we are ready to make the necessary
                     adjustments to ensure your satisfaction.
                  </div>
               </div>
            </div>
            <div class="faq-item">
               <div class="faq-item__trigger">
                  <div class="faq-item__header">
                     <p class="faq-item__title">
                        What if my needs change during development?
                     </p>
                     <div class="faq-item__arrow">
                        <svg
                           width="32"
                           height="18"
                           viewBox="0 0 32 18"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 16.5L16 1.5L31 16.5"
                              stroke="#8A31EF"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </div>

                  <div class="faq-item__text">
                     We understand that needs may change, and we are flexible in
                     our approach to development. You can discuss changes with
                     us at any time, and we will try to take them into account
                     in the project, providing an updated schedule and cost
                     estimate.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
