<main class="hero">
   <div class="hero__bg">
      <div class="hero__bg-decor hero__bg-mesh"></div>
      <div class="hero__bg-fiels">
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--1">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--2">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--3">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--4">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--5">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--6">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--7">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--8">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--9">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--10">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--11">
            <img src="/assets/img/elips.png" alt="" />
         </div>
         <div class="hero__bg-decor hero__bg-crcl hero__bg-crcl--12">
            <img src="/assets/img/elips.png" alt="" />
         </div>
      </div>
      <div class="hero__bg-decor hero__bg-stain hero__bg-stain--1">
         <img src="/assets/img/elips-big.png" alt="" />
      </div>
      <div class="hero__bg-decor hero__bg-stain hero__bg-stain--2">
         <img src="/assets/img/elips-big2.png" alt="" />
      </div>
   </div>
   <div class="container">
      <div class="hero__body">
         <div class="hero__wrapper">
            <div class="hero__text-block">
               <h1 class="hero__title">
                  <span class="hero__title--top-word">
                     <div class="hero__title--circle hero__title--circle-left">
                        <div class="hero__title--circle-img">
                           <img
                              src="assets/img/Arrow-top.svg"
                              alt="arrow top"
                           />
                        </div>
                     </div>
                     level up
                     <div class="hero__title--circle hero__title--circle-right">
                        <div class="hero__title--circle-img">
                           <img
                              src="assets/img/Star-blue.svg"
                              alt="star blue"
                           />
                        </div>
                     </div>
                  </span>

                  your business with stunning
                  <span class="hero__title--word-website"
                     >website<span class="hero__title--continued"
                        >and Leave Competitors Behind</span
                     ></span
                  >
               </h1>
            </div>
            <div class="hero__right-block">
               <div class="hero__code">
                  <div
                     class="hero__code--square hero__code--square-top-left"
                  ></div>
                  <div
                     class="hero__code--square hero__code--square-top-right"
                  ></div>
                  <div
                     class="hero__code--square hero__code--square-bottom-left"
                  ></div>
                  <div
                     class="hero__code--square hero__code--square-bottom-right"
                  ></div>
                  <span>&ltspecial offer&gt</span>
                  <p>Free competitor analysis before the start of work</p>
                  <span>&lt/special offer&gt</span>
                  <div class="hero__cursor">
                     <img src="assets/img/cursor.png" alt="cursor" />

                     <p class="hero__cursor-title">Fabula</p>
                  </div>
               </div>
               <video class="hero__video" autoplay muted loop>
                  <source src="assets/video.mp4" type="video/mp4" />
               </video>
            </div>
            <button class="hero__btn-chat-bot">
               <img src="assets/img/chat-btn.svg" alt="chatbot" />
            </button>
         </div>
      </div>
   </div>
</main>
