<div class="leave-request">
   <div class="container">
      <div class="leave-request__box">
         <div class="leave-request-bg">
            <div class="leave-request-bg__item leave-request-bg__item-1">
               <svg
                  width="1176"
                  height="747"
                  viewBox="0 0 1176 747"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g filter="url(#filter0_if_2746_1465)">
                     <path
                        d="M-186.413 338.744C-56.6048 290.993 165.244 196.934 224.64 189.521C367.236 163.955 620.5 72.5008 876.999 132.002C959.912 151.235 210.156 348.434 104 406.501C-2.15717 464.567 190.554 674.992 79.0012 793.002C-32.5515 911.011 -225.815 720.784 -371.143 723.908C-516.471 727.033 -396.037 661.728 -428.045 455.26C-460.053 248.793 -348.673 398.434 -186.413 338.744Z"
                        fill="#8A31EF"
                     />
                  </g>
                  <defs>
                     <filter
                        id="filter0_if_2746_1465"
                        x="-736.536"
                        y="-179.554"
                        width="1911.72"
                        height="1303"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                     >
                        <feFlood
                           flood-opacity="0"
                           result="BackgroundImageFix"
                        />
                        <feBlend
                           mode="normal"
                           in="SourceGraphic"
                           in2="BackgroundImageFix"
                           result="shape"
                        />
                        <feColorMatrix
                           in="SourceAlpha"
                           type="matrix"
                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"
                        />
                        <feOffset dy="8" />
                        <feGaussianBlur stdDeviation="56.15" />
                        <feComposite
                           in2="hardAlpha"
                           operator="arithmetic"
                           k2="-1"
                           k3="1"
                        />
                        <feColorMatrix
                           type="matrix"
                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                        />
                        <feBlend
                           mode="normal"
                           in2="shape"
                           result="effect1_innerShadow_2746_1465"
                        />
                        <feGaussianBlur
                           stdDeviation="145.9"
                           result="effect2_foregroundBlur_2746_1465"
                        />
                     </filter>
                  </defs>
               </svg>
            </div>
            <div class="leave-request-bg__item leave-request-bg__item-2">
               <svg
                  width="547"
                  height="744"
                  viewBox="0 0 547 744"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g opacity="0.62" filter="url(#filter0_f_2746_1466)">
                     <path
                        d="M-276.267 749.688C-252.586 688.005 -222.875 579.271 -199.559 554.892C-150.299 494.295 -102.614 374.405 77.1894 293.502C135.311 267.35 -69.4269 602.683 -72.3544 658.191C-75.282 713.7 203.073 697.057 249.265 770.568C295.458 844.078 34.2871 866.309 -35.7411 921.959C-105.769 977.609 -101.955 914.786 -296.464 871.866C-490.973 828.946 -305.869 826.791 -276.267 749.688Z"
                        fill="#C6F806"
                     />
                  </g>
                  <defs>
                     <filter
                        id="filter0_f_2746_1466"
                        x="-676.058"
                        y="0.250793"
                        width="1222.56"
                        height="1235.43"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                     >
                        <feFlood
                           flood-opacity="0"
                           result="BackgroundImageFix"
                        />
                        <feBlend
                           mode="normal"
                           in="SourceGraphic"
                           in2="BackgroundImageFix"
                           result="shape"
                        />
                        <feGaussianBlur
                           stdDeviation="145.9"
                           result="effect1_foregroundBlur_2746_1466"
                        />
                     </filter>
                  </defs>
               </svg>
            </div>
            <div class="leave-request-bg__item leave-request-bg__item-3">
               <svg
                  width="1118"
                  height="332"
                  viewBox="0 0 1118 332"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g opacity="0.62" filter="url(#filter0_f_2746_1467)">
                     <path
                        d="M397.589 -38.0015C419.17 -59.8461 445.198 -98.7558 467.659 -106.923C514.809 -127.516 558.407 -169.919 735.193 -193.604C792.339 -201.261 599.157 -85.0413 598.088 -64.7694C597.019 -44.4974 874.328 -41.3114 922.894 -12.7936C971.459 15.7242 711.49 15.1624 643.443 33.246C575.397 51.3295 577.107 28.4034 381.507 6.15921C185.907 -16.085 370.614 -10.6957 397.589 -38.0015Z"
                        fill="#C6F806"
                     />
                  </g>
                  <defs>
                     <filter
                        id="filter0_f_2746_1467"
                        x="0.93634"
                        y="-485.765"
                        width="1219.76"
                        height="817.338"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                     >
                        <feFlood
                           flood-opacity="0"
                           result="BackgroundImageFix"
                        />
                        <feBlend
                           mode="normal"
                           in="SourceGraphic"
                           in2="BackgroundImageFix"
                           result="shape"
                        />
                        <feGaussianBlur
                           stdDeviation="145.9"
                           result="effect1_foregroundBlur_2746_1467"
                        />
                     </filter>
                  </defs>
               </svg>
            </div>
            <div class="leave-request-bg__item leave-request-bg__item-4">
               <svg
                  width="788"
                  height="700"
                  viewBox="0 0 788 700"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g filter="url(#filter0_if_2746_1463)">
                     <path
                        d="M513.775 -29.5256C620.987 -116.91 800.168 -278.027 853.921 -304.359C980.442 -374.926 1012.03 -329.413 1062.64 -260.98C1113.25 -192.548 1014.82 -208.497 933.329 -119.053C851.838 -29.6086 728.64 -19.2273 661.548 128.654C594.456 276.535 600.806 344.55 464.4 394.784C327.995 445.019 420.631 344.085 323.194 159.262C225.757 -25.56 379.761 79.705 513.775 -29.5256Z"
                        fill="#8A31EF"
                     />
                  </g>
                  <defs>
                     <filter
                        id="filter0_if_2746_1463"
                        x="0.703918"
                        y="-631.593"
                        width="1367.58"
                        height="1331.03"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                     >
                        <feFlood
                           flood-opacity="0"
                           result="BackgroundImageFix"
                        />
                        <feBlend
                           mode="normal"
                           in="SourceGraphic"
                           in2="BackgroundImageFix"
                           result="shape"
                        />
                        <feColorMatrix
                           in="SourceAlpha"
                           type="matrix"
                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"
                        />
                        <feOffset dy="8" />
                        <feGaussianBlur stdDeviation="56.15" />
                        <feComposite
                           in2="hardAlpha"
                           operator="arithmetic"
                           k2="-1"
                           k3="1"
                        />
                        <feColorMatrix
                           type="matrix"
                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                        />
                        <feBlend
                           mode="normal"
                           in2="shape"
                           result="effect1_innerShadow_2746_1463"
                        />
                        <feGaussianBlur
                           stdDeviation="145.9"
                           result="effect2_foregroundBlur_2746_1463"
                        />
                     </filter>
                  </defs>
               </svg>
            </div>
            <div class="leave-request-bg__item leave-request-bg__item-5">
               <svg
                  width="630"
                  height="619"
                  viewBox="0 0 630 619"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g filter="url(#filter0_if_2746_1464)">
                     <path
                        d="M891.349 199.147C758.904 239.006 531.8 319.554 472.066 323.382C328.191 340.327 316.365 286.206 295.698 203.638C275.031 121.071 359.924 173.374 469.381 121.795C578.837 70.2174 696.673 107.634 815.12 -3.45352C933.568 -114.541 953.653 -179.832 1098.91 -174.212C1244.16 -168.592 1120.02 -110.647 1139.55 97.3717C1159.08 305.39 1056.9 149.323 891.349 199.147Z"
                        fill="#C79DF7"
                     />
                  </g>
                  <defs>
                     <filter
                        id="filter0_if_2746_1464"
                        x="0.782043"
                        y="-466.347"
                        width="1461.47"
                        height="1084.64"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                     >
                        <feFlood
                           flood-opacity="0"
                           result="BackgroundImageFix"
                        />
                        <feBlend
                           mode="normal"
                           in="SourceGraphic"
                           in2="BackgroundImageFix"
                           result="shape"
                        />
                        <feColorMatrix
                           in="SourceAlpha"
                           type="matrix"
                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"
                        />
                        <feOffset dy="8" />
                        <feGaussianBlur stdDeviation="56.15" />
                        <feComposite
                           in2="hardAlpha"
                           operator="arithmetic"
                           k2="-1"
                           k3="1"
                        />
                        <feColorMatrix
                           type="matrix"
                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                        />
                        <feBlend
                           mode="normal"
                           in2="shape"
                           result="effect1_innerShadow_2746_1464"
                        />
                        <feGaussianBlur
                           stdDeviation="145.9"
                           result="effect2_foregroundBlur_2746_1464"
                        />
                     </filter>
                  </defs>
               </svg>
            </div>
            <div class="leave-request-bg__item leave-request-bg__item-dot-1">
               <svg
                  width="75"
                  height="86"
                  viewBox="0 0 75 86"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g filter="url(#filter0_f_2746_1477)">
                     <ellipse
                        cx="37.5"
                        cy="43"
                        rx="6.5"
                        ry="12"
                        fill="url(#paint0_radial_2746_1477)"
                     />
                  </g>
                  <defs>
                     <filter
                        id="filter0_f_2746_1477"
                        x="0.6"
                        y="0.6"
                        width="73.8"
                        height="84.8"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                     >
                        <feFlood
                           flood-opacity="0"
                           result="BackgroundImageFix"
                        />
                        <feBlend
                           mode="normal"
                           in="SourceGraphic"
                           in2="BackgroundImageFix"
                           result="shape"
                        />
                        <feGaussianBlur
                           stdDeviation="15.2"
                           result="effect1_foregroundBlur_2746_1477"
                        />
                     </filter>
                     <radialGradient
                        id="paint0_radial_2746_1477"
                        cx="0"
                        cy="0"
                        r="1"
                        gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(37.5 43) rotate(90) scale(12 6.5)"
                     >
                        <stop stop-color="white" />
                        <stop offset="0.859" stop-color="#8A31EF" />
                        <stop
                           offset="1"
                           stop-color="white"
                           stop-opacity="0.42"
                        />
                     </radialGradient>
                  </defs>
               </svg>
            </div>
            <div class="leave-request-bg__item leave-request-bg__item-dot-2">
               <svg
                  width="75"
                  height="86"
                  viewBox="0 0 75 86"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g filter="url(#filter0_f_2746_1477)">
                     <ellipse
                        cx="37.5"
                        cy="43"
                        rx="6.5"
                        ry="12"
                        fill="url(#paint0_radial_2746_1477)"
                     />
                  </g>
                  <defs>
                     <filter
                        id="filter0_f_2746_1477"
                        x="0.6"
                        y="0.6"
                        width="73.8"
                        height="84.8"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                     >
                        <feFlood
                           flood-opacity="0"
                           result="BackgroundImageFix"
                        />
                        <feBlend
                           mode="normal"
                           in="SourceGraphic"
                           in2="BackgroundImageFix"
                           result="shape"
                        />
                        <feGaussianBlur
                           stdDeviation="15.2"
                           result="effect1_foregroundBlur_2746_1477"
                        />
                     </filter>
                     <radialGradient
                        id="paint0_radial_2746_1477"
                        cx="0"
                        cy="0"
                        r="1"
                        gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(37.5 43) rotate(90) scale(12 6.5)"
                     >
                        <stop stop-color="white" />
                        <stop offset="0.859" stop-color="#8A31EF" />
                        <stop
                           offset="1"
                           stop-color="white"
                           stop-opacity="0.42"
                        />
                     </radialGradient>
                  </defs>
               </svg>
            </div>
            <div class="leave-request-bg__item leave-request-bg__item-dot-3">
               <svg
                  width="75"
                  height="86"
                  viewBox="0 0 75 86"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g filter="url(#filter0_f_2746_1477)">
                     <ellipse
                        cx="37.5"
                        cy="43"
                        rx="6.5"
                        ry="12"
                        fill="url(#paint0_radial_2746_1477)"
                     />
                  </g>
                  <defs>
                     <filter
                        id="filter0_f_2746_1477"
                        x="0.6"
                        y="0.6"
                        width="73.8"
                        height="84.8"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                     >
                        <feFlood
                           flood-opacity="0"
                           result="BackgroundImageFix"
                        />
                        <feBlend
                           mode="normal"
                           in="SourceGraphic"
                           in2="BackgroundImageFix"
                           result="shape"
                        />
                        <feGaussianBlur
                           stdDeviation="15.2"
                           result="effect1_foregroundBlur_2746_1477"
                        />
                     </filter>
                     <radialGradient
                        id="paint0_radial_2746_1477"
                        cx="0"
                        cy="0"
                        r="1"
                        gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(37.5 43) rotate(90) scale(12 6.5)"
                     >
                        <stop stop-color="white" />
                        <stop offset="0.859" stop-color="#8A31EF" />
                        <stop
                           offset="1"
                           stop-color="white"
                           stop-opacity="0.42"
                        />
                     </radialGradient>
                  </defs>
               </svg>
            </div>
            <div class="leave-request-bg__item leave-request-bg__item-dot-4">
               <svg
                  width="75"
                  height="86"
                  viewBox="0 0 75 86"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g filter="url(#filter0_f_2746_1477)">
                     <ellipse
                        cx="37.5"
                        cy="43"
                        rx="6.5"
                        ry="12"
                        fill="url(#paint0_radial_2746_1477)"
                     />
                  </g>
                  <defs>
                     <filter
                        id="filter0_f_2746_1477"
                        x="0.6"
                        y="0.6"
                        width="73.8"
                        height="84.8"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                     >
                        <feFlood
                           flood-opacity="0"
                           result="BackgroundImageFix"
                        />
                        <feBlend
                           mode="normal"
                           in="SourceGraphic"
                           in2="BackgroundImageFix"
                           result="shape"
                        />
                        <feGaussianBlur
                           stdDeviation="15.2"
                           result="effect1_foregroundBlur_2746_1477"
                        />
                     </filter>
                     <radialGradient
                        id="paint0_radial_2746_1477"
                        cx="0"
                        cy="0"
                        r="1"
                        gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(37.5 43) rotate(90) scale(12 6.5)"
                     >
                        <stop stop-color="white" />
                        <stop offset="0.859" stop-color="#8A31EF" />
                        <stop
                           offset="1"
                           stop-color="white"
                           stop-opacity="0.42"
                        />
                     </radialGradient>
                  </defs>
               </svg>
            </div>
         </div>
         <div class="leave-request__wrapper">
            <p class="leave-request__title">
               Leave a request and get a free competitor analysis
            </p>
            <div class="leave-request__subtitle">
               Our manager will contact you for a more substantive dialogue to
               offer you a commercial offer
            </div>
            <form class="leave-request__form">
               <div class="leave-request__form-item">
                  <div class="leave-request__input">
                     <label
                        for="form-name"
                        class="leave-request__label"
                     ></label>
                     <input
                        type="text"
                        placeholder="Your Name"
                        id="form-name"
                     />
                  </div>
               </div>
               <div class="leave-request__form-item">
                  <div class="leave-request__input">
                     <label
                        for="form-phone"
                        class="leave-request__label"
                     ></label>
                     <input
                        type="text"
                        placeholder="Phone number"
                        id="form-phone"
                     />
                  </div>
               </div>
               <div class="leave-request__form-item">
                  <buttn class="leave-request__btn button-green"
                     >Call me back</buttn
                  >
               </div>
            </form>
         </div>
      </div>
      <div class="leave-request__social">
         <a href="#" class="leave-request__social-link">Info@fabula.co.il</a>
         <a href="tel:+77777777777" class="leave-request__social-link"
            >+7 777 777 77 77</a
         >
      </div>
   </div>
</div>
