<section class="now-imagine">
   <div class="now-imagine__bg">
      <div class="nom-imagine-moon">
         <img src="assets/img/now-imagine/moon.svg" alt="moon" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__1">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__2">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__3">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__4">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__5">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__6">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__7">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__8">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__9">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="nom-imagine-star nom-imagine-star__10">
         <img src="assets/img/now-imagine/Star.svg" alt="star" />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__1--small-topcenter">
         <img src="assets/img/now-imagine/cloud-1.svg" alt="cloud" />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__1--big-bottomleft">
         <img src="assets/img/now-imagine/cloud-1.svg" alt="cloud" />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__1--big-bottomright">
         <img src="assets/img/now-imagine/cloud-1.svg" alt="cloud" />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__2--small-topleft">
         <img src="assets/img/now-imagine/cloud-2.svg" alt="cloud" />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__2--big-topleft">
         <img
            src="assets/img/now-imagine/cloud-2-shadow-right.svg"
            alt="cloud"
         />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__2--big-topright-revers">
         <img src="assets/img/now-imagine/cloud-2.svg" alt="cloud" />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__2--big-topright">
         <img
            src="assets/img/now-imagine/cloud-2-shadow-left.svg"
            alt="cloud"
         />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__2--small-bottomleft">
         <img src="assets/img/now-imagine/cloud-2.svg" alt="cloud" />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__2--small-center">
         <img src="assets/img/now-imagine/cloud-2.svg" alt="cloud" />
      </div>
      <div class="now-imagine-cloud now-imagine-cloud__2--small-bottomright">
         <img src="assets/img/now-imagine/cloud-2.svg" alt="cloud" />
      </div>
      <div class="now-imagine-blob">
         <div class="now-imagine-blob__rope">
            <img src="assets/img/now-imagine/rope.svg" alt="rope" />
            <div class="now-imagine-blob__blob-on">
               <img src="assets/img/now-imagine/bulb-on.svg" alt="blob-on" />
            </div>
            <div class="now-imagine-blob__blob-off">
               <img src="assets/img/now-imagine/bulb-off.svg" alt="blob-off" />
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="now-imagine__wrapper">
         <div class="now-imagine__body">
            <h3 class="now-imagine__title title-gradient">Now imagine</h3>
            <p class="now-imagine__text">
               That you have a modern website. Customers find you quickly, sales
               grow, and your business becomes more recognizable and successful.
               Your website works for you 24/7, attracting new customers and
               strengthening your brand.
            </p>
         </div>
      </div>
   </div>
</section>
