<section class="offer">
   <div class="offer__bg">
      <div class="offer__bg--blur-1">
         <svg
            width="1400"
            height="833"
            viewBox="0 0 1400 833"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <g filter="url(#filter0_if_2746_609)">
               <path
                  d="M716.705 383.388C771.6 405.73 1078.05 404.204 1099 418.999C1151.54 452.058 1035.32 455.403 1020 488.5C1004.68 521.598 777.317 452.475 726.935 440.227C676.553 427.979 736.39 435.047 666.998 440.227C597.606 445.407 406.351 582.623 446.5 535C634.5 312 120.546 386.631 170 312C219.454 237.369 648.085 355.461 716.705 383.388Z"
                  fill="#8A31EF"
               />
            </g>
            <defs>
               <filter
                  id="filter0_if_2746_609"
                  x="-120.471"
                  y="0.540619"
                  width="1520.12"
                  height="831.587"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
               >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                     mode="normal"
                     in="SourceGraphic"
                     in2="BackgroundImageFix"
                     result="shape"
                  />
                  <feColorMatrix
                     in="SourceAlpha"
                     type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                     result="hardAlpha"
                  />
                  <feOffset dy="8" />
                  <feGaussianBlur stdDeviation="56.15" />
                  <feComposite
                     in2="hardAlpha"
                     operator="arithmetic"
                     k2="-1"
                     k3="1"
                  />
                  <feColorMatrix
                     type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                  />
                  <feBlend
                     mode="normal"
                     in2="shape"
                     result="effect1_innerShadow_2746_609"
                  />
                  <feGaussianBlur
                     stdDeviation="143.55"
                     result="effect2_foregroundBlur_2746_609"
                  />
               </filter>
            </defs>
         </svg>
      </div>
      <div class="offer__bg--blur-2">
         <svg
            width="1129"
            height="989"
            viewBox="0 0 1129 989"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <g filter="url(#filter0_if_2746_610)">
               <path
                  d="M581.803 576.671C657.009 607.278 794.669 458.071 823.372 478.34C895.355 523.631 726.333 635.821 705.341 681.165C684.349 726.508 664.84 671.318 595.818 654.539C526.795 637.759 608.77 647.442 513.705 654.539C418.639 661.635 374.293 737.273 309.999 681.165C245.704 625.056 330.892 408.873 398.643 306.629C466.393 204.385 487.795 538.411 581.803 576.671Z"
                  fill="#8A31EF"
               />
            </g>
            <defs>
               <filter
                  id="filter0_if_2746_610"
                  x="0.0972595"
                  y="0.161713"
                  width="1128.11"
                  height="988.68"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
               >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                     mode="normal"
                     in="SourceGraphic"
                     in2="BackgroundImageFix"
                     result="shape"
                  />
                  <feColorMatrix
                     in="SourceAlpha"
                     type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                     result="hardAlpha"
                  />
                  <feOffset dy="8" />
                  <feGaussianBlur stdDeviation="56.15" />
                  <feComposite
                     in2="hardAlpha"
                     operator="arithmetic"
                     k2="-1"
                     k3="1"
                  />
                  <feColorMatrix
                     type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                  />
                  <feBlend
                     mode="normal"
                     in2="shape"
                     result="effect1_innerShadow_2746_610"
                  />
                  <feGaussianBlur
                     stdDeviation="143.55"
                     result="effect2_foregroundBlur_2746_610"
                  />
               </filter>
            </defs>
         </svg>
      </div>
      <div class="offer__bg--blur-footer"></div>
   </div>
   <div class="container">
      <div class="offer__wrapper">
         <h2 class="offer__title title-gradient">What we offer</h2>
         <div class="offer__body">
            <div class="offer-item">
               <div class="offer-item__info">
                  <h3 class="offer-item__title title-mixcolor">
                     Your website <br /><span> will work for you</span>
                  </h3>
                  <p class="offer-item__text">
                     We conduct research on the target audience, identify their
                     problems and needs, and carefully analyze competitors. This
                     allows you to create a convenient website that meets the
                     needs of your customers and stimulates sales
                  </p>
                  <ul class="offer-item__tegs">
                     <li class="offer-item__teg tag">Ease of use</li>
                     <li class="offer-item__teg tag">UX research</li>
                     <li class="offer-item__teg tag">Interface adaptability</li>
                     <li class="offer-item__teg tag">SEO optimization</li>
                  </ul>
               </div>
               <div class="offer-item__img">
                  <dotlottie-player
                     src="https://lottie.host/0790d3a1-2782-4a6c-825d-fe8ce3504457/e0qPxEJt8T.lottie"
                     background="transparent"
                     speed="1"
                     style="width: 100%; height: 100%"
                     loop
                     autoplay
                  ></dotlottie-player>
               </div>
            </div>
            <div class="offer-item">
               <div class="offer-item__info">
                  <h3 class="offer-item__title title-mixcolor">
                     We don't do
                     <br /><span> template design</span>
                  </h3>
                  <p class="offer-item__text">
                     We are developing a unique trending design that will
                     complement and enhance your brand. Thanks to the moodboards
                     and referrals that we will prepare, you will be sure that
                     you will get what you want
                  </p>
                  <ul class="offer-item__tegs">
                     <li class="offer-item__teg tag">Trend compliance</li>
                     <li class="offer-item__teg tag">Custom design</li>
                     <li class="offer-item__teg tag">Content optimization</li>
                     <li class="offer-item__teg tag">Visual research</li>
                  </ul>
               </div>
               <div class="offer-item__img">
                  <dotlottie-player
                     src="https://lottie.host/0790d3a1-2782-4a6c-825d-fe8ce3504457/e0qPxEJt8T.lottie"
                     background="transparent"
                     speed="1"
                     style="width: 100%; height: 100%"
                     loop
                     autoplay
                  ></dotlottie-player>
               </div>
            </div>
            <div class="offer-item">
               <div class="offer-item__info">
                  <h3 class="offer-item__title title-mixcolor">
                     Even your child can
                     <br /><span> manage the site</span>
                  </h3>
                  <p class="offer-item__text">
                     Convenient control panels and CMS integration allow you to
                     manage and update the site without special skills. We
                     explain and train each client
                  </p>
                  <ul class="offer-item__tegs">
                     <li class="offer-item__teg tag">Technical support</li>
                     <li class="offer-item__teg tag">
                        Integration of services
                     </li>
                     <li class="offer-item__teg tag">Tutorial</li>
                     <li class="offer-item__teg tag">Non-code editing</li>
                  </ul>
               </div>
               <div class="offer-item__img">
                  <dotlottie-player
                     src="https://lottie.host/0790d3a1-2782-4a6c-825d-fe8ce3504457/e0qPxEJt8T.lottie"
                     background="transparent"
                     speed="1"
                     style="width: 100%; height: 100%"
                     loop
                     autoplay
                  ></dotlottie-player>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
