<section class="projects">
   <div class="projects-bg">
      <div class="projects-bg__el projects-bg__blur--big-1">
         <svg
            width="719"
            height="815"
            viewBox="0 0 719 815"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <g filter="url(#filter0_if_2746_426)">
               <path
                  d="M458.302 455.133C501.779 472.828 581.361 386.57 597.955 398.288C639.569 424.47 541.856 489.329 529.72 515.542C517.585 541.755 506.307 509.85 466.404 500.149C426.502 490.448 473.893 496.047 418.934 500.149C363.976 504.251 338.34 547.978 301.171 515.542C264.002 483.105 313.249 358.128 352.417 299.021C391.584 239.913 403.956 433.015 458.302 455.133Z"
                  fill="#8A31EF"
               />
            </g>
            <defs>
               <filter
                  id="filter0_if_2746_426"
                  x="0.890228"
                  y="0.724213"
                  width="894.417"
                  height="813.813"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
               >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                     mode="normal"
                     in="SourceGraphic"
                     in2="BackgroundImageFix"
                     result="shape"
                  />
                  <feColorMatrix
                     in="SourceAlpha"
                     type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                     result="hardAlpha"
                  />
                  <feOffset dy="8" />
                  <feGaussianBlur stdDeviation="56.15" />
                  <feComposite
                     in2="hardAlpha"
                     operator="arithmetic"
                     k2="-1"
                     k3="1"
                  />
                  <feColorMatrix
                     type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                  />
                  <feBlend
                     mode="normal"
                     in2="shape"
                     result="effect1_innerShadow_2746_426"
                  />
                  <feGaussianBlur
                     stdDeviation="143.55"
                     result="effect2_foregroundBlur_2746_426"
                  />
               </filter>
            </defs>
         </svg>
      </div>
      <div class="projects-bg__el projects-bg__blur--big-2">
         <svg
            width="719"
            height="815"
            viewBox="0 0 719 815"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <g filter="url(#filter0_if_2746_426)">
               <path
                  d="M458.302 455.133C501.779 472.828 581.361 386.57 597.955 398.288C639.569 424.47 541.856 489.329 529.72 515.542C517.585 541.755 506.307 509.85 466.404 500.149C426.502 490.448 473.893 496.047 418.934 500.149C363.976 504.251 338.34 547.978 301.171 515.542C264.002 483.105 313.249 358.128 352.417 299.021C391.584 239.913 403.956 433.015 458.302 455.133Z"
                  fill="#8A31EF"
               />
            </g>
            <defs>
               <filter
                  id="filter0_if_2746_426"
                  x="0.890228"
                  y="0.724213"
                  width="894.417"
                  height="813.813"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
               >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                     mode="normal"
                     in="SourceGraphic"
                     in2="BackgroundImageFix"
                     result="shape"
                  />
                  <feColorMatrix
                     in="SourceAlpha"
                     type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                     result="hardAlpha"
                  />
                  <feOffset dy="8" />
                  <feGaussianBlur stdDeviation="56.15" />
                  <feComposite
                     in2="hardAlpha"
                     operator="arithmetic"
                     k2="-1"
                     k3="1"
                  />
                  <feColorMatrix
                     type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                  />
                  <feBlend
                     mode="normal"
                     in2="shape"
                     result="effect1_innerShadow_2746_426"
                  />
                  <feGaussianBlur
                     stdDeviation="143.55"
                     result="effect2_foregroundBlur_2746_426"
                  />
               </filter>
            </defs>
         </svg>
      </div>
      <div class="projects-bg__el projects-bg__blur--small-1">
         <svg
            width="41"
            height="46"
            viewBox="0 0 41 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <g filter="url(#filter0_f_2746_796)">
               <ellipse
                  cx="20.5"
                  cy="23"
                  rx="3.5"
                  ry="6"
                  fill="url(#paint0_radial_2746_796)"
               />
            </g>
            <defs>
               <filter
                  id="filter0_f_2746_796"
                  x="0"
                  y="0"
                  width="41"
                  height="46"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
               >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                     mode="normal"
                     in="SourceGraphic"
                     in2="BackgroundImageFix"
                     result="shape"
                  />
                  <feGaussianBlur
                     stdDeviation="8.5"
                     result="effect1_foregroundBlur_2746_796"
                  />
               </filter>
               <radialGradient
                  id="paint0_radial_2746_796"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(20.5 23) rotate(90) scale(6 3.5)"
               >
                  <stop stop-color="white" />
                  <stop offset="0.859" stop-color="#8A31EF" />
                  <stop offset="1" stop-color="white" stop-opacity="0.42" />
               </radialGradient>
            </defs>
         </svg>
      </div>
      <div class="projects-bg__el projects-bg__blur--small-2">
         <svg
            width="41"
            height="46"
            viewBox="0 0 41 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <g filter="url(#filter0_f_2746_796)">
               <ellipse
                  cx="20.5"
                  cy="23"
                  rx="3.5"
                  ry="6"
                  fill="url(#paint0_radial_2746_796)"
               />
            </g>
            <defs>
               <filter
                  id="filter0_f_2746_796"
                  x="0"
                  y="0"
                  width="41"
                  height="46"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
               >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                     mode="normal"
                     in="SourceGraphic"
                     in2="BackgroundImageFix"
                     result="shape"
                  />
                  <feGaussianBlur
                     stdDeviation="8.5"
                     result="effect1_foregroundBlur_2746_796"
                  />
               </filter>
               <radialGradient
                  id="paint0_radial_2746_796"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(20.5 23) rotate(90) scale(6 3.5)"
               >
                  <stop stop-color="white" />
                  <stop offset="0.859" stop-color="#8A31EF" />
                  <stop offset="1" stop-color="white" stop-opacity="0.42" />
               </radialGradient>
            </defs>
         </svg>
      </div>
      <div class="projects-bg__el projects-bg__blur--small-3">
         <svg
            width="41"
            height="46"
            viewBox="0 0 41 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <g filter="url(#filter0_f_2746_796)">
               <ellipse
                  cx="20.5"
                  cy="23"
                  rx="3.5"
                  ry="6"
                  fill="url(#paint0_radial_2746_796)"
               />
            </g>
            <defs>
               <filter
                  id="filter0_f_2746_796"
                  x="0"
                  y="0"
                  width="41"
                  height="46"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
               >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                     mode="normal"
                     in="SourceGraphic"
                     in2="BackgroundImageFix"
                     result="shape"
                  />
                  <feGaussianBlur
                     stdDeviation="8.5"
                     result="effect1_foregroundBlur_2746_796"
                  />
               </filter>
               <radialGradient
                  id="paint0_radial_2746_796"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(20.5 23) rotate(90) scale(6 3.5)"
               >
                  <stop stop-color="white" />
                  <stop offset="0.859" stop-color="#8A31EF" />
                  <stop offset="1" stop-color="white" stop-opacity="0.42" />
               </radialGradient>
            </defs>
         </svg>
      </div>
      <div class="projects-bg__el projects-bg__blur--small-4">
         <svg
            width="41"
            height="46"
            viewBox="0 0 41 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <g filter="url(#filter0_f_2746_796)">
               <ellipse
                  cx="20.5"
                  cy="23"
                  rx="3.5"
                  ry="6"
                  fill="url(#paint0_radial_2746_796)"
               />
            </g>
            <defs>
               <filter
                  id="filter0_f_2746_796"
                  x="0"
                  y="0"
                  width="41"
                  height="46"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
               >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                     mode="normal"
                     in="SourceGraphic"
                     in2="BackgroundImageFix"
                     result="shape"
                  />
                  <feGaussianBlur
                     stdDeviation="8.5"
                     result="effect1_foregroundBlur_2746_796"
                  />
               </filter>
               <radialGradient
                  id="paint0_radial_2746_796"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(20.5 23) rotate(90) scale(6 3.5)"
               >
                  <stop stop-color="white" />
                  <stop offset="0.859" stop-color="#8A31EF" />
                  <stop offset="1" stop-color="white" stop-opacity="0.42" />
               </radialGradient>
            </defs>
         </svg>
      </div>
      <div class="projects-bg__el projects-bg__blur--small-5">
         <svg
            width="41"
            height="46"
            viewBox="0 0 41 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <g filter="url(#filter0_f_2746_796)">
               <ellipse
                  cx="20.5"
                  cy="23"
                  rx="3.5"
                  ry="6"
                  fill="url(#paint0_radial_2746_796)"
               />
            </g>
            <defs>
               <filter
                  id="filter0_f_2746_796"
                  x="0"
                  y="0"
                  width="41"
                  height="46"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
               >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                     mode="normal"
                     in="SourceGraphic"
                     in2="BackgroundImageFix"
                     result="shape"
                  />
                  <feGaussianBlur
                     stdDeviation="8.5"
                     result="effect1_foregroundBlur_2746_796"
                  />
               </filter>
               <radialGradient
                  id="paint0_radial_2746_796"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(20.5 23) rotate(90) scale(6 3.5)"
               >
                  <stop stop-color="white" />
                  <stop offset="0.859" stop-color="#8A31EF" />
                  <stop offset="1" stop-color="white" stop-opacity="0.42" />
               </radialGradient>
            </defs>
         </svg>
      </div>
   </div>
   <div class="container">
      <div class="projects__wrapper">
         <h2 class="projects__title">
            Take a look at our <br />
            <span>completed projects</span>
         </h2>
         <div class="projects__items">
            <div class="projects-item">
               <div class="projects-item__img">
                  <img src="assets/img/projects/img1.png" alt="prod" />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Michman</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div class="projects-item__tag tag">Premium Package</div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img src="assets/img/projects/img2.png" alt="prod" />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">H2Pro</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div
                     class="projects-item__tag tag projects-item__tag--yellow"
                  >
                     VIP Package
                  </div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img src="assets/img/projects/img4.png" alt="prod" />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Philisof</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div class="projects-item__tag tag projects-item__tag--white">
                     Basic Package
                  </div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img src="assets/img/projects/img3.png" alt="prod" />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Certora</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div class="projects-item__tag tag">Premium Package</div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img src="assets/img/projects/img6.png" alt="prod" />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Dod Moshe</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div
                     class="projects-item__tag tag projects-item__tag--yellow"
                  >
                     VIP Package
                  </div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img src="assets/img/projects/img5.png" alt="prod" />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Eldar</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div
                     class="projects-item__tag tag projects-item__tag--yellow"
                  >
                     VIP Package
                  </div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img src="assets/img/projects/img8.png" alt="prod" />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Rental</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div class="projects-item__tag tag">Premium Package</div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img src="assets/img/projects/img7.png" alt="prod" />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Sentra</p>
                     <p class="projects-item__subtitle">Cybersecurity</p>
                  </div>
                  <div
                     class="projects-item__tag tag projects-item__tag--yellow"
                  >
                     VIP Package
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
