<section class="projects">
   <div class="container">
      <div class="projects__wrapper">
         <div class="projects-bg">
            <div class="projects-bg__el projects-bg__blur--big-1">
               <img src="assets/img/elips-big3.png" alt="" />
            </div>
            <div class="projects-bg__el projects-bg__blur--big-2">
               <img src="assets/img/elips-big3.png" alt="" />
            </div>
            <div
               class="projects-bg__el projects-bg__el--animation projects-bg__blur--small-1"
            >
               <img src="assets/img/elips.png" alt="" />
            </div>
            <div
               class="projects-bg__el projects-bg__el--animation projects-bg__blur--small-2"
            >
               <img src="assets/img/elips.png" alt="" />
            </div>
            <div
               class="projects-bg__el projects-bg__el--animation projects-bg__blur--small-3"
            >
               <img src="assets/img/elips.png" alt="" />
            </div>
            <div
               class="projects-bg__el projects-bg__el--animation projects-bg__blur--small-4"
            >
               <img src="assets/img/elips.png" alt="" />
            </div>
            <div
               class="projects-bg__el projects-bg__el--animation projects-bg__blur--small-5"
            >
               <img src="assets/img/elips.png" alt="" />
            </div>
         </div>
         <h2 class="projects__title">
            Take a look at our <br />
            <span>completed projects</span>
         </h2>
         <div class="projects__items">
            <div class="projects-item">
               <div class="projects-item__img">
                  <img
                     src="assets/img/projects/img1.png"
                     loading="lazy"
                     alt="prod"
                  />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Michman</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div class="projects-item__tag tag">Premium Package</div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img
                     src="assets/img/projects/img2.png"
                     loading="lazy"
                     alt="prod"
                  />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">H2Pro</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div
                     class="projects-item__tag tag projects-item__tag--yellow"
                  >
                     VIP Package
                  </div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img
                     src="assets/img/projects/img4.png"
                     loading="lazy"
                     alt="prod"
                  />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Philisof</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div class="projects-item__tag tag projects-item__tag--white">
                     Basic Package
                  </div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img
                     src="assets/img/projects/img3.png"
                     loading="lazy"
                     alt="prod"
                  />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Certora</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div class="projects-item__tag tag">Premium Package</div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img
                     src="assets/img/projects/img6.png"
                     loading="lazy"
                     alt="prod"
                  />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Dod Moshe</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div
                     class="projects-item__tag tag projects-item__tag--yellow"
                  >
                     VIP Package
                  </div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img
                     src="assets/img/projects/img5.png"
                     loading="lazy"
                     alt="prod"
                  />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Eldar</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div
                     class="projects-item__tag tag projects-item__tag--yellow"
                  >
                     VIP Package
                  </div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img
                     src="assets/img/projects/img8.png"
                     loading="lazy"
                     alt="prod"
                  />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Rental</p>
                     <p class="projects-item__subtitle">Green Technologies</p>
                  </div>
                  <div class="projects-item__tag tag">Premium Package</div>
               </div>
            </div>

            <div class="projects-item">
               <div class="projects-item__img">
                  <img
                     src="assets/img/projects/img7.png"
                     loading="lazy"
                     alt="prod"
                  />
               </div>
               <div class="projects-item__footer">
                  <div class="projects-item__info">
                     <p class="projects-item__title">Sentra</p>
                     <p class="projects-item__subtitle">Cybersecurity</p>
                  </div>
                  <div
                     class="projects-item__tag tag projects-item__tag--yellow"
                  >
                     VIP Package
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
