<div class="ribbons">
   <div class="ribbons__element ribbons__element--bg-color">
      <div class="swiper ribbons-slider-1">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <ul class="ribbons__list">
                  <li class="ribbons__word">Tourism Hotels</li>
                  <li class="ribbons__word">Rental Restaurants</li>
                  <li class="ribbons__word">Products Cosmetics</li>
                  <li class="ribbons__word">Real estate Fitness</li>
                  <li class="ribbons__word">
                     Beauty salons Green Technologies
                  </li>
                  <li class="ribbons__word">Tourism Hotels</li>
                  <li class="ribbons__word">Rental Restaurants</li>
                  <li class="ribbons__word">Products</li>
                  <li class="ribbons__word">Cosmetics</li>
                  <li class="ribbons__word">Real estate</li>
                  <li class="ribbons__word">Fitness</li>
                  <li class="ribbons__word">Beauty salons</li>
                  <li class="ribbons__word">Green Technologies</li>
               </ul>
            </div>
            <div class="swiper-slide">
               <ul class="ribbons__list">
                  <li class="ribbons__word">Tourism Hotels</li>
                  <li class="ribbons__word">Rental Restaurants</li>
                  <li class="ribbons__word">Products Cosmetics</li>
                  <li class="ribbons__word">Real estate Fitness</li>
                  <li class="ribbons__word">
                     Beauty salons Green Technologies
                  </li>
                  <li class="ribbons__word">Tourism Hotels</li>
                  <li class="ribbons__word">Rental Restaurants</li>
                  <li class="ribbons__word">Products</li>
                  <li class="ribbons__word">Cosmetics</li>
                  <li class="ribbons__word">Real estate</li>
                  <li class="ribbons__word">Fitness</li>
                  <li class="ribbons__word">Beauty salons</li>
                  <li class="ribbons__word">Green Technologies</li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <div class="ribbons__element ribbons__element--bg-blur">
      <div class="swiper ribbons-slider-2">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <ul class="ribbons__list">
                  <li class="ribbons__word">Biotechnology</li>
                  <li class="ribbons__word">Medical technologies</li>
                  <li class="ribbons__word">Shops</li>
                  <li class="ribbons__word">Cybersecurity</li>
                  <li class="ribbons__word">Artificial Intelligence</li>
                  <li class="ribbons__word">Fintech</li>
                  <li class="ribbons__word">Technology</li>
                  <li class="ribbons__word">Startups</li>
                  <li class="ribbons__word">Programming</li>
               </ul>
            </div>
            <div class="swiper-slide">
               <ul class="ribbons__list">
                  <li class="ribbons__word">Biotechnology</li>
                  <li class="ribbons__word">Medical technologies</li>
                  <li class="ribbons__word">Shops</li>
                  <li class="ribbons__word">Cybersecurity</li>
                  <li class="ribbons__word">Artificial Intelligence</li>
                  <li class="ribbons__word">Fintech</li>
                  <li class="ribbons__word">Technology</li>
                  <li class="ribbons__word">Startups</li>
                  <li class="ribbons__word">Programming</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
