<footer class="footer">
   <div class="container">
      <div class="footer__wrapper">
         <ul class="footer__list">
            <li>
               <a
                  target="_blank"
                  href="https://www.linkedin.com/company/fabula-art/posts/?feedView=all"
                  >Linkedin</a
               >
            </li>
            <li>
               <a
                  target="_blank"
                  href="https://www.instagram.com/fabula.co.il/?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D#"
                  >Instagram</a
               >
            </li>
         </ul>
      </div>
   </div>
   <div class="footer__copy">
      <div class="container">
         <p>© Fabula 2024</p>
         <div class="footer__bg">
            <img src="assets/img/footer-bg-logo.svg" alt="#" />
         </div>
      </div>
   </div>
</footer>
